<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <capabilities>
    <add key="appiumVersion" value="1.5.3" xdt:Transform="Insert"/>
    <add key="deviceName" value="Samsung Galaxy S7 Device" xdt:Transform="Insert"/>
    <add key="deviceOrientation" value="portrait" xdt:Transform="Insert"/>
    <add key="browserName" value="chrome" xdt:Transform="Insert"/>
    <add key="platformVersion" value="6.0" xdt:Transform="Insert"/>
    <add key="platformName" value="Android" xdt:Transform="Insert"/>
  </capabilities>
</configuration>