<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <plugins>
      <add name="SpecFlow.Autofac" type="Runtime" />
    </plugins></specFlow>
  <appSettings>
    <add key="TargetBrowser" value="Chrome" />
    <add key="TargetBrowserVersion" value="48.0" />
    <add key="TargetPlatform" value="Windows 10" />
  </appSettings>
</configuration>