<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="capabilities"  type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <plugins>
      <add name="SpecFlow.Autofac" type="Runtime" />
    </plugins></specFlow>
  <appSettings>
    <add key="user" value="SAUCE_USERNAME" />
    <add key="key" value="SAUCE_ACCESS_KEY" />
    <add key="server" value="https://ondemand.saucelabs.com:443/wd/hub" />
  </appSettings>
  <capabilities>
    <add key="tag" value="SeleniumSauceLabsPOC" />
    <add key="browserName" value="Chrome" />
    <add key="platform" value="Windows 10" />
    <add key="screenResolution" value="1920x1200" />
    <add key="build" value="1.0.0" />
  </capabilities>
</configuration>