<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <capabilities>
    <add key="browserName" value="Safari" xdt:Transform="Insert"/>
    <add key="platform" value="OS X 10.11" xdt:Transform="Insert"/>
    <add key="screenResolution" value="1920x1440" xdt:Transform="Insert"/>
  </capabilities>
</configuration>